.usuario-info {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333; 
    color: white; 
    text-align: center; 
}

.sidebar {
    position: fixed; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}



.logo {
    width: 80%; /* Ajusta el tamaño del logo grande */
}

.logo-small {
    width: 30%; /* Ajusta este valor según lo necesites */
    max-width: 100%; /* Para evitar desbordes */
    height: auto; /* Mantiene la proporción de la imagen */
}




